[github]
	user = rhblind
[core]
	ignorecase = false
	excludesfile = ~/.gitignore_global
	autocrlf = input
[push]
	default = simple
[mergetool]
	keepBackup = true
[color]
	ui = auto
[commit]
	template = ~/.stCommitMsg
	gpgsign = true
	pgpsign = false
[alias]
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|main\\|develop' | xargs -n 1 -r git branch -d"
[user "rhblind"]
	name = Rolf Håvard Blindheim
	email = rhblind@gmail.com
	signingkey = DDCB852A0B6AAA95
[user "rolf.havard.blindheim"]
	name = "Rolf Håvard Blindheim"
	email = rolf.havard.blindheim@intility.no
	signingkey = DDCB852A0B6AAA95
[credential]
	helper = osxkeychain
[tag]
	gpgsign = false
[gitlab "gitlab.intility.com/api/v4"]
	user = rolf.havard.blindheim
	email = rolf.havard.blindheim@intility.no
[init]
	defaultBranch = main
[user]
	name = Rolf Håvard Blindheim
	email = rolf.havard.blindheim@intility.no
	signingkey = DDCB852A0B6AAA95
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.intility..com:"]
	insteadOf = https://gitlab.intility.com/
